AI Resume Analyzer v1.json
{
  "name": "AI Resume Analyzer v1",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Resume Analyzer",
        "formDescription": "Upload your resume in PDF format for an AI-powered review",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Resume",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -544,
        -80
      ],
      "id": "a7d78171-cd41-4b85-8894-671e5f4597eb",
      "name": "Resume Upload Form",
      "webhookId": "1f47fb38-e2b3-4297-9da3-2c8f955b531f"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Upload_Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -320,
        -80
      ],
      "id": "6c6f56b5-abae-43b6-837e-650503612322",
      "name": "Extract Resume Text"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -16,
        144
      ],
      "id": "ed76b99b-d05a-4f57-8bd5-3dba9278be85",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "bPHhjx0MjyEqH5p5",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior ATS recruiter and resume reviewer with over 15 years of experience helping candidates get hired.\n\nAnalyze the resume below.\n\nReturn your answer in clean Markdown.\n\n# ATS Resume Analysis\n\n## ATS Score\nGive a score from 0–100.\n\n## Executive Summary\nWrite 3-5 sentences.\n\n## Strengths\nList the candidate's strengths using bullet points.\n\n## Weaknesses\nList weaknesses using bullet points.\n\n## Missing Keywords\nSuggest keywords that would improve ATS performance.\n\n## Recommended Skills\nList technical skills the candidate should learn.\n\n## Resume Improvements\nProvide specific improvements.\n\n## Suitable Job Titles\nSuggest five suitable job titles.\n\n## Final Recommendation\nWould you recommend this candidate for an interview? Explain briefly.\n\nImportant Rules:\n- Use Markdown headings.\n- Use bullet points.\n- Be concise.\n- Do not invent information not found in the resume.\n\nResume:\n\n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -96,
        -80
      ],
      "id": "7c93aa20-6f3e-42db-9d9d-cc5eb43c91f4",
      "name": "AI Resume Analyzer"
    }
  ],
  "pinData": {},
  "connections": {
    "Resume Upload Form": {
      "main": [
        [
          {
            "node": "Extract Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume Text": {
      "main": [
        [
          {
            "node": "AI Resume Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Resume Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f867a25c-9a06-4e96-8173-50a654b5b720",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81feeeb69a6455e4dc4b4c0fa91aa81ec2875bbfb13122652f419225a59ca42b"
  },
  "nodeGroups": [],
  "id": "1fnvQpm1DwnXPUoP",
  "tags": []
}